<?xml version="1.0" encoding="utf-8" standalone="no"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" id="com.example.hello" version="0.0.1">
    <name>Strategie 01</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <icon density="mdpi" height="57" platform="android" src="icon.png" width="57"/>
    <content src="index.html"/>
    <access origin="*"/>
</widget>
